@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ThrottlingTrollSampleWeb.Pages.TestRazorPageModel
@{
}

<h1>TestMvc</h1>

<form method="post">
    <input type="submit" value="Default POST">
</form>

<form method="post">
    <input type="submit" asp-page-handler="MyCustomHandler" value="POST to MyCustomHandler">
</form>
