name: Push to NuGet

on:
  workflow_dispatch:

jobs:
  push-throttlingTroll:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x

    - name: Build ThrottlingTroll
      run: dotnet build -c Release ThrottlingTroll.AspNet
    - name: Pack ThrottlingTroll
      run: dotnet pack ThrottlingTroll.AspNet/ThrottlingTroll.AspNet.csproj -p:NuspecFile=nuspec.nuspec -o ThrottlingTroll.AspNet/output
    - name: Push ThrottlingTroll
      env:
        NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
      run: dotnet nuget push ThrottlingTroll.AspNet/output/ThrottlingTroll.*.*.*.symbols.nupkg --api-key $NUGET_API_KEY --source https://api.nuget.org/v3/index.json

  push-throttlingTroll-azurefunctions:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x

    - name: Build ThrottlingTroll.AzureFunctions
      run: dotnet build -c Release ThrottlingTroll.AzureFunctions
    - name: Pack ThrottlingTroll.AzureFunctions
      run: dotnet pack ThrottlingTroll.AzureFunctions/ThrottlingTroll.AzureFunctions.csproj -p:NuspecFile=nuspec.nuspec -o ThrottlingTroll.AzureFunctions/output
    - name: Push ThrottlingTroll.AzureFunctions
      env:
        NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
      run: dotnet nuget push ThrottlingTroll.AzureFunctions/output/ThrottlingTroll.*.*.*.symbols.nupkg --api-key $NUGET_API_KEY --source https://api.nuget.org/v3/index.json

  push-throttlingTroll-counterstores-azuretable:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x

    - name: Build ThrottlingTroll.CounterStores.AzureTable
      run: dotnet build -c Release ThrottlingTroll.CounterStores.AzureTable
    - name: Pack ThrottlingTroll.CounterStores.AzureTable
      run: dotnet pack ThrottlingTroll.CounterStores.AzureTable/ThrottlingTroll.CounterStores.AzureTable.csproj -p:NuspecFile=nuspec.nuspec -o ThrottlingTroll.CounterStores.AzureTable/output
    - name: Push ThrottlingTroll.CounterStores.AzureTable
      env:
        NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
      run: dotnet nuget push ThrottlingTroll.CounterStores.AzureTable/output/ThrottlingTroll.*.*.*.symbols.nupkg --api-key $NUGET_API_KEY --source https://api.nuget.org/v3/index.json

  push-throttlingTroll-counterstores-redis:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x

    - name: Build ThrottlingTroll.CounterStores.Redis
      run: dotnet build -c Release ThrottlingTroll.CounterStores.Redis
    - name: Pack ThrottlingTroll.CounterStores.Redis
      run: dotnet pack ThrottlingTroll.CounterStores.Redis/ThrottlingTroll.CounterStores.Redis.csproj -p:NuspecFile=nuspec.nuspec -o ThrottlingTroll.CounterStores.Redis/output
    - name: Push ThrottlingTroll.CounterStores.Redis
      env:
        NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
      run: dotnet nuget push ThrottlingTroll.CounterStores.Redis/output/ThrottlingTroll.*.*.*.symbols.nupkg --api-key $NUGET_API_KEY --source https://api.nuget.org/v3/index.json

  push-throttlingTroll-counterstores-distributed-cache:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x

    - name: Build ThrottlingTroll.CounterStores.DistributedCache
      run: dotnet build -c Release ThrottlingTroll.CounterStores.DistributedCache
    - name: Pack ThrottlingTroll.CounterStores.DistributedCache
      run: dotnet pack ThrottlingTroll.CounterStores.DistributedCache/ThrottlingTroll.CounterStores.DistributedCache.csproj -p:NuspecFile=nuspec.nuspec -o ThrottlingTroll.CounterStores.DistributedCache/output
    - name: Push ThrottlingTroll.CounterStores.DistributedCache
      env:
        NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
      run: dotnet nuget push ThrottlingTroll.CounterStores.DistributedCache/output/ThrottlingTroll.*.*.*.symbols.nupkg --api-key $NUGET_API_KEY --source https://api.nuget.org/v3/index.json

  push-throttlingTroll-counterstores-efcore:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x

    - name: Build ThrottlingTroll.CounterStores.EfCore
      run: dotnet build -c Release ThrottlingTroll.CounterStores.EfCore
    - name: Pack ThrottlingTroll.CounterStores.EfCore
      run: dotnet pack ThrottlingTroll.CounterStores.EfCore/ThrottlingTroll.CounterStores.EfCore.csproj -p:NuspecFile=nuspec.nuspec -o ThrottlingTroll.CounterStores.EfCore/output
    - name: Push ThrottlingTroll.CounterStores.EfCore
      env:
        NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
      run: dotnet nuget push ThrottlingTroll.CounterStores.EfCore/output/ThrottlingTroll.*.*.*.symbols.nupkg --api-key $NUGET_API_KEY --source https://api.nuget.org/v3/index.json
